ChromiumUpdater/trunk/ChromiumUpdater.Engine/Schemas/ChangeLog.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="log" type="Log" >
	</xs:element>
	<xs:complexType name="Log">
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element maxOccurs="unbounded" name="logentry" type="LogEntry"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="LogEntry">
		<xs:sequence>
			<xs:element name="author" type="xs:string" />
			<xs:element name="date" type="xs:dateTime" />
			<xs:element name="msg" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="revision" type="xs:unsignedShort" use="required" />
	</xs:complexType>	
</xs:schema>