trunk/ChromiumUpdater/trunk/ChromiumUpdater.Engine/Schemas/ChangeLog.xsd

<?xml version="1.0" encoding="windows-1250"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="changelogs">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element name="log">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="logentry">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="author" type="xs:string" />
										<xs:element name="date" type="xs:dateTime" />
										<xs:element name="msg" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="revision" type="xs:unsignedShort" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>